@charset "UTF-8";
html{
font-size:100%;
}
main{
 background:#E5D8B2;
}
p{
 font-family:"Zen Maru Gothic";
}
p span{
  display: inline-block;
}
img{
max-width:500%;
}
.pc-br{
 display:block;
}
.sp-br{
 display:none;
}
/*header-----*/
header{
 background-image:url(images/vegetable.jpg);
 background-size: cover;
 min-height: 100vh;
}
header h1{
 font-size:500%;
 font-family:"Kiwi Maru";
 margin: 0 auto;
 padding: 0 4%; 
}
header a{
 text-decoration: none;
 color:white;
}
header p{
 font-size:100%;
 color:white;
 padding-top:2%;
 padding-left:4%; 
}
.menu a{
 font-size:150%;
 color:white;
 font-family:"Zen Maru Gothic";
 text-decoration: none;
}
.menu{
list-style:none;
padding-top:10%;
padding-left:4%; 
}
.vegetable{
 padding-top:2%;
}
.voice{
 padding-top:2%;
}
.contact{
 padding-top:2%;
}
.menu a:hover{ 
 color:#F79428;
}
 /*about-----*/
#about{
text-align: center;
padding-top:7%;
}
#about h1{
 color:#34AA18;
 font-size:350%;
 font-family:"Kaisei Tokumin";
 }
 #about h2{
 color:#F79428;
 font-size:300%;
 font-family:"Kiwi Maru";
 text-align: center;
}
#about p{
 font-size:100%;
 padding-top:3%;
}
.product{
  margin:center;
}
.concept{
    text-align: center;
    font-size:150%;
    font-family:"Zen Maru Gothic";
    padding-top:3%;
    padding-bottom:2%;
  }
#about p{
 text-align: center;
 font-size:150%;
 padding-top:2%;
}

 /*vegetable-----*/
#vegetable{
 text-align: center;
 padding-top:7%;
}
#vegetable h1{
 font-size:350%;
 color:#34AA18;
 font-family:"Kaisei Tokumin";
 padding-bottom:3%;
}
.container{
  height: 400px;
  position: relative;
 }
 #vegetable p{
 font-size:150%;
 padding-top:3%;
 } 
.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
 background-size: cover;
 background-position: center center;       
 animation: image-switch-animation 25s infinite;
}
@keyframes image-switch-animation {
 0%{ opacity: 0;}
 5%{ opacity: 1;}
 25%{ opacity: 1;}
 30%{ opacity: 0;}
 100%{ opacity: 0;}
}
.image:nth-of-type(1) {
 animation-delay: 0s;
}
.image:nth-of-type(2) {
 animation-delay: 5s;
}
.image:nth-of-type(3) {
 animation-delay: 10s;
}
.image:nth-of-type(4) {
 animation-delay: 15s;
}
.image:nth-of-type(5) {
 animation-delay: 20s;
}
 /*voice-----*/
 #voice{
 padding-top:7%;
 }
 #voice h1{
 font-size:350%;
 color:#34AA18;
 font-family:"Kaisei Tokumin";
 text-align: center;
 padding-bottom:3%;
}
.nouka{
 display:flex;
 padding: 0 10%; 
}
.nouka-ko{
 padding-right:5%;
}
.nouka-jf{
 padding-left:5%;
}
.comment{
  text-align: center;
  font-size:150%;
  font-family:"Zen Maru Gothic";
  padding-bottom:3%;
}
#voice p{
 text-align: center;
 font-size:150%;
 padding-top:3%;
 }
/*contact-----*/
#contact{
 text-align: center;
 padding:7%;
}
#contact h1{
 font-size:300%;
 color:#34AA18;
 font-family:"Kaisei Tokumin";
 padding-bottom:5%;
}
.button{
  font-family:"Zen Maru Gothic";
  font-size: 110%;
  background:#F79428;
  color:black;
  border-radius: 5px;
  padding: 18px 32px;
  text-decoration: none;
}
.button:hover{
  opacity: 0.6;
}
 /*contact.html-----*/
 .contact-text h2{
 padding:5%;
 font-size:150%;
 }
.form{
  font-size:150%;
  font-family:"Zen Maru Gothic";
}
  form div{
    display: block; 
    margin-top: 0em;   
    }
    label{
     font-size:1.2rem;
     margin:10px;
     display:block;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea{
     background:rgba(255,255,255,.5); 
     border:1px #ffff solid;
     border-radius:5px;   
     padding:10px;
     font-size:1rem;
     font-family:"inter";
     text-align: center;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"]{
     width:100%;
     max-width:240px;
     font-family:"inter";
    }
    textarea{
     width:100%;
     max-width:240px;
     height:6rem;
    }
    input[type="submit"]{
     border:none;
     cursor: pointer;
     line-height:1;    
    }
    .contact-text{
      text-align: center;
      font-size:120%;
      font-family:"Zen Maru Gothic";
    }
    .button-soushin{
     font-family:"Zen Maru Gothic";
     font-size:1.2rem;
     background:#F79428;
     color:black;
     border-radius: 5px;
     padding: 15px 40px;
     text-decoration: none; 
     margin:3%;
    }
  /*address/map-----*/
#location{
  padding:4% 0;  
 }
 #location .wrapper{
  display:flex;
  justify-content:space-between;
 }
 .location-info{
  width:22%;
 }
 .location-info p{
  padding-top:5%;
  font-size:120%;
 }
 .location-map{
  width:74%;
 }
 .wrapper {
  max-width: 1100px;
  margin: 0 auto;
 }
 .make{
  font-family:"Zen Maru Gothic";
  font-size:150%;
  padding: 0 2px 2px;
  border-bottom: 2px #34AA18 solid;
 }
 .vegefoods{
  font-family:"Zen Maru Gothic";
  font-size:150%;
 }
 iframe{
 width:100%;
 }
 /*footer-----*/
footer{
 background:#34AA18;
 text-align: center;
 padding: 26px 0;
}
footer p {
 color: #fff;
 font-size: 0.875rem;
 text-align: center;
}
@media(max-width:600px){
  img{
    max-width:100%;
    }
  .pc-br{
    display:none;
   }
   .sp-br{
    display:block;
   }
  /*header*/  
#header{
 height: 180%;
  } 
header h1{
 font-size:300%;
}
.menu{
 padding-top:50%;
 padding-bottom:30%;
}
.vegetable{
  padding-top:10%;
 }
 .voice{
  padding-top:10%;
 }
 .contact{
  padding-top:10%;
 }
   /*about*/  
 #about{
  padding-top:30%;
  }
 #about h1{
 font-size:300%;
 }
 .concept{
 font-size:100%;
 padding:5%;
 }
 #about p{
  font-size:90%;
  text-align: center;
  }
   /*vegetable*/  
 #vegetable{
  padding-top:30%;
  }
  #vegetable h1{
   font-size:300%;
   padding-bottom:10%;
  }
  .container{
    height: 300px;
    position: relative;
   }
   #vegetable p{
    font-size:90%;
    } 
   /*voice*/  
 #voice{
  padding-top:30%;
  }
  #voice h1{
  font-size:300%;
  padding-bottom:10%;
  }
  #voice p{
  font-size:90%;
  }
  .comment{
   font-size:100%;
   padding:5%;
  }
  .nouka{
   display:block;
  }
  .nouka-ko{
    padding-bottom:5%; 
  }
  .nouka-ko{
    padding-right:0%;
   }
   .nouka-jf{
    padding-left:0%;
   }
  /*contact*/  
 #contact{
  padding-top:20%;
  padding-bottom:20%;
  }
 #contact h1{
  padding-bottom:15%;
  }
  .button{
    font-size: 90%;
  }
   /*contact.html-----*/
   #location .wrapper{
    flex-direction: column;
   }
   .location-info,
   .location-map{
    width:100%;
   }
   iframe{
    width:100%;
    }
    .vegefoods{
    text-align: center;
    padding-top:30%;
    }
    .make{
      position: absolute;
      left:50%;
      top:180%;
      transform: translateX(-50%);
      text-align: center;
    }
    #location p{
     text-align:center;
     padding-bottom:5%;
    }
  }
